/** CSS VARIABLES */
:root {
  --autocomplete-active-background: rgba(0,0,0,0.98);
  --autocomplete-background: rgb(26, 26, 26);
  --background-color: rgb(26, 26, 26);
  --body-background-color: #000;
  --bulletin-background: rgba(255, 255, 255, .0);
  --donetask-background: rgba(0, 0, 0, .1);
  --element-background: rgba(0, 0, 0, .9);
  --filter-value: invert();
  --input-background: rgba(255,255,255,0.1);
  --link-color: rgb(27, 174, 237);
  --nav-active-background: rgba(255, 255, 255, .1);
  --plot-overlay-background: rgba(0,0,0,0.25);
  --progressbar-background: rgb(20, 130, 232);
  --shadow-color: #000;
  --shoplist-thumb-background: rgba(238, 216, 15, 0.7);
  --task-background: rgba(0,0,0,0.9);
  --text-color: #fff;
  --todolist-thumb-background: rgba(45, 70, 179, 0.6);

  /** shoplist sections */
  --fruit-background: rgba(242, 148, 7, 0.8);
  --vegetable-background: rgba(0, 184, 8, 0.7);
  --dairy-background: rgba(45, 245, 239, 0.8);
  --legume-background: rgba(164, 48, 17, 0.8);
  --seasoning-background: rgba(224, 224, 223, 0.8);
  --beverage-background: rgba(73, 184, 255, 0.8);
  --alcohol-background: rgba(3, 4, 139, 0.8);
  --hygiene-background: rgba(246, 250, 175, 0.8);
  --supplies-background: rgba(95, 136, 129, 0.8);
  --cleaning-background: rgba(209, 50, 212, 0.7);
  --other-background: rgba(233, 61, 71, 0.8);
}

.light-theme {
  --autocomplete-active-background: rgba(255,255,255,0.98);
  --autocomplete-background: rgba(20, 130, 232, 0.98);
  --background-color: rgba(20, 130, 232, 0.75);
  --body-background-color: #f7f7f7;
  --bulletin-background: rgba(255, 255, 255, .0);
  --donetask-background: rgba(0, 0, 0, 0.1);
  --element-background: rgba(247, 247, 247, 0.9);
  --filter-value: none;
  --input-background: rgba(247, 247, 247, 0.9);
  --link-color: rgb(3, 40, 200);
  --nav-active-background: rgba(0, 0, 0, .1);
  --plot-overlay-background: rgba(255,255,255,0.0);
  --progressbar-background: rgb(15, 15, 15);
  --shadow-color: #000;
  --shoplist-thumb-background: rgba(238, 216, 15, 0.8);
  --task-background: rgba(247, 247, 247, 0.9);
  --text-color: #000;
  --todolist-thumb-background: rgba(45, 70, 179, 0.7);

  /** shoplist sections */
  --fruit-background: rgba(242, 148, 7, 0.8);
  --vegetable-background: rgba(0, 184, 8, 0.8);
  --dairy-background: rgba(45, 245, 239, 0.8);
  --legume-background: rgba(164, 48, 17, 0.8);
  --seasoning-background: rgba(224, 224, 223, 0.8);
  --beverage-background: rgba(73, 184, 255, 0.8);
  --alcohol-background: rgba(3, 4, 139, 0.8);
  --hygiene-background: rgba(246, 250, 175, 0.8);
  --supplies-background: rgba(95, 136, 129, 0.8);
  --cleaning-background: rgba(209, 50, 212, 0.8);
  --other-background: rgba(233, 61, 71, 0.8);
}

/** ANIMATIONS */
@keyframes breathAnimation {
  0% {
    box-shadow: 0px 0px 5px var(--shadow-color);
  }
  100% {
    box-shadow: 0px 0px 15px var(--shadow-color);
  }
}

@keyframes introAnimation {
  0% {
    opacity: 0;
    position: relative;
    left: -50%;
  }
  75% {
    position: relative;
    opacity: 1;
    left: 5%;
  }
  100% {
    position: relative;
    opacity: 1;
    left: 0%;
  }
}

@keyframes alertAnimation {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0px 0px 25px #ff0000;
  }
}

@keyframes glowGreenAnimation{
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0px 0px 25px #33ff33;
  }
}

@keyframes taskAnimation {
  0% {
    opacity: 1;
    position: relative;
    right: 0%;
  }
  100% {
    opacity: 0;
    position: relative;
    right: 50%;
  }
}

@keyframes updatedStatAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes toastAnimation {
  0% {
    opacity: 0;
    position: relative;
    left: 50%;
  }
  10% {
    opacity: 1;
    position: relative;
    left: 0%;
  }
  100% {
    opacity: 1;
    position: relative;
    left: 0%;
  }
}

@keyframes offlineAnimation {
  0% {
    left: -50rem;
    opacity: 0;
  }
  100% {
    left: .5rem;
    opacity: 1;
  }
}

@keyframes backonlineAnimation {
  0% {
    left: -50rem;
    opacity: 0;
  }
  25% {
    left: .5rem;
    opacity: 1;
  }
  100% {
    left: .5rem;
    opacity: 1;
  }
}

/** STYLE */
body {
  font-family: sans-serif, helvetica;
  color: var(--text-color);
  background-color: var(--body-background-color);
  transition: background-color 2.5s ease;
}

nav {
  transition: background-color 1s ease;
  -webkit-box-shadow: 3px -3px 15px var(--shadow-color);
  -moz-box-shadow:    3px -3px 15px var(--shadow-color);
  box-shadow:         3px -3px 15px var(--shadow-color);
}

.dropdown-menu, .dropdown-item {
  color: var(--text-color);
  background-color: var(--body-background-color);
}

body a {
  color: var(--link-color);
}

a.active {
  -moz-box-shadow: inset 0 3px 10px -5px var(--shadow-color);
  -webkit-box-shadow: inset 0 3px 10px -5px var(--shadow-color);
  box-shadow: inset 0 3px 10px -5px var(--shadow-color);
  border-radius: 6px;
}

.my-container {
  background-color: var(--background-color);
  transition: background-color 2.5s ease;
  min-height: 100vh;
}

#darkModeSelector {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 45px;
  height: 45px;
  user-select: none;
}

.intro-0 {
  opacity: 0;
  animation-name: introAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-play-state: running;
}

.intro-1 {
  opacity: 0;
  animation-name: introAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-delay: 1s;
}

.intro-2 {
  opacity: 0;
  animation-name: introAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-delay: 1.5s;
}

.logo {
  width: 60px;
  height: 60px;
  margin: 0;
  animation-name: breathAnimation;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-delay: 2s;
}

.otpInput {
  width: 3rem;
  background-color: rgba(0,0,0,0);
  border: none;
  border-radius: 0;
  border-bottom: solid thin;
  color: var(--text-color);
  text-align: center;
}

#btnBackTop {
  position: fixed;
  bottom: 3rem;
  right: .5rem;
  z-index: 99;
  height: 2.5rem;
  width: 2.5rem;
  opacity: .4;
  display: none;
}

.offline-notification {
  position: fixed;
  bottom: .5rem;
  left: .5rem;
  z-index: 100;
  font-size: 1.2rem;
  background-color: hsla(0, 81%, 49%, 0.8);
  animation-name: offlineAnimation;
  animation-duration: .6s;
  animation-iteration-count: 1;
  animation-play-state: running;
  user-select: none;
  font-weight: bold;
}

.backonline-notification {
  position: fixed;
  bottom: .5rem;
  left: .5rem;
  z-index: 100;
  font-size: 1.2rem;
  background-color: hsla(113, 87%, 49%, 0.8);
  animation-name: backonlineAnimation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-play-state: running;
  user-select: none;
  font-weight: bold;
}

#info-toggle {
  user-select: none;
}

.newList-card {
  width: 100%;
  background-color: var(--element-background);
  cursor: pointer;
}

.newList-card:hover {
  opacity: .9;
}

.newList-card[data-type="TODOLIST"] {
  background-color: var(--todolist-thumb-background);
}

.newList-card[data-type="SHOPLIST"] {
  background-color: var(--shoplist-thumb-background);
}

.thumbnail-div {
  overflow-y: auto;
  background-color: var(--task-background);
}

.list-thumbnail {
  background-color: var(--input-background);
}

.list-thumbnail:hover {
  transform: scale(1.02);
  z-index: 1;
}

.list-thumbnail .card-header {
  font-size: 1.2rem;
}

.list-thumbnail[data-type="TODOLIST"] .card-header {
  background-color: var(--todolist-thumb-background);
}

.list-thumbnail[data-type="SHOPLIST"] .card-header {
  background-color: var(--shoplist-thumb-background);
}

.card-header-text-col {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.deleteTrigger {
  padding: 2px;
  cursor: pointer;
  user-select: none;
}

input {
  color: inherit;
  border-color: transparent;
  background-color: var(--input-background);
}

input[type="text"]:focus {
  -webkit-box-shadow: 0px 0px 15px var(--shadow-color);
  -moz-box-shadow:    0px 0px 15px var(--shadow-color);
  box-shadow:         0px 0px 15px var(--shadow-color);
}

.modal div {
  background-color: var(--element-background);
}

.modal textarea {
  color: inherit;
  background-color: var(--input-background);
}

.modal textarea:focus {
  color: inherit;
  background-color: var(--input-background);
}

#btnAddTask, #btnAddItem {
  transition: background-color 1.5s;
}

.alertAnimated {
  animation-name: alertAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
  animation-play-state: running;
}

#taskViewSelect, #categorySelect, #bulletinThemeSelect {
  background-color: var(--input-background);
  max-width: 40%;
  color: inherit;
}

option {
  color: inherit;
  background-color: var(--background-color);
}

.updatedStat {
  animation-name: updatedStatAnimation;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-iteration-count: 1;
}

.list-panel {
  background-color: var(--input-background);
}

.list-panel button:hover {
  transition: transform .6s;
  transform: scale(1.2);
}

.progress {
  border-top: solid thin var(--text-color);
  min-height: 20px;
  background-color: var(--task-background);
}

.progress-bar {
  margin: 0;
  background-color: var(--progressbar-background);
}

#taskList {
  position: relative;
}

#taskList::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/checklist.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: 100%;
  background-repeat: repeat-y;
  background-position: center center;
  opacity: 0.2;
}

.element {
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 0px;
  min-height: 10rem;
  max-height: 20rem;
  word-wrap: break-word;
  background-color: var(--element-background);
  -webkit-box-shadow: 4px 3px 3px var(--shadow-color);
  -moz-box-shadow:    4px 3px 3px var(--shadow-color);
  box-shadow:         4px 3px 3px var(--shadow-color);
  transition: transform .2s;
  transition: box-shadow .2s;
  overflow-x: hidden;
}

.element div {
  background-color: transparent;
}

.element:hover {
  -webkit-box-shadow: 9px 6px 15px var(--shadow-color);
  -moz-box-shadow:    9px 6px 15px var(--shadow-color);
  box-shadow:         9px 6px 15px var(--shadow-color);
  transform: scale(1.02);
  z-index: 1;
}

.singleTask {
  background-color: var(--task-background);
}

.deletingTask:hover {
  animation-name: alertAnimation;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-play-state: running;
  -webkit-box-shadow: 0px 0px 15px red;
  -moz-box-shadow:    0px 0px 15px red;
  box-shadow:         0px 0px 15px red;
}

.completingTask:hover {
  animation-name: glowGreenAnimation;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-play-state: running;
  -webkit-box-shadow:  0px 0px 15px #33ff33;
  -moz-box-shadow:     0px 0px 15px #33ff33;
  box-shadow:          0px 0px 15px #33ff33;
}

.taskDeleteArea, .taskDoneArea {
  display: flex;
  cursor: pointer;
  margin: 0;
  align-items: center;
}

.taskTextArea {
  max-height: 10rem;
  overflow-y: auto;
  font-size: 1.15em;
}

.taskFooter {
  padding-left: 4px;
  height: auto;
}

.taskFooter > span {
  font-size: .85em;
}

.taskFooter > i {
  font-size: .95em;
}

.taskArrow {
  cursor: pointer;
}

.movedTask {
  animation-name: introAnimation;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-play-state: running;
}

.deletedTask {
  animation-name: taskAnimation;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-play-state: running;
}

.newTask {
  animation-name: taskAnimation;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  animation-iteration-count: 1;
  animation-play-state: running;
}

.doneTask {
  background-color: var(--donetask-background);
  -webkit-box-shadow: 2px 1px 3px var(--shadow-color);
  -moz-box-shadow:    2px 1px 3px var(--shadow-color);
  box-shadow:         2px 1px 3px var(--shadow-color);
}

.doneTask .taskTextArea {
  text-decoration: line-through;
}

.doneTask:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
  font-size: 1em;
  transform: scale(.999);
}

.btn-close {
  filter: var(--filter-value);
}

#btnShowRundown, #btnShowStats, #btnShowAutoList {
  cursor: pointer;
}

.auto-list-slider {
  cursor: pointer;
  border-radius: 10px;
  filter: invert();
}

.entrance-animated {
  animation-name: taskAnimation;
  animation-duration: .4s;
  animation-direction: reverse;
  animation-play-state: running;
  animation-iteration-count: 1;
}

.singleItem {
  min-height: 3rem;
  max-height: 6rem;
  overflow-y: hidden;
}

.singleItem .card-header {
  max-height: 1.8rem;
  margin: 0;
  padding: .2rem;
}

.singleItem .card-body {
  max-height: 3.2rem;
  margin: 0;
  padding: .2rem;
  overflow-y: auto;
}

.itemQuantity {
  height: 1.5rem;
  width: 3.5rem;
  margin: 0;
}

.section {
  min-height: auto;
  position: relative;
}

.section-title {
  background-color: var(--element-background);
  font-size: 1.5rem;
}

/* Fruit section */
.category_1-section {
  background-color: var(--fruit-background);
}

.category_1-section::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/fruits.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.2;
}

/* Vegetable section */
.category_2-section {
  background-color: var(--vegetable-background);
}

.category_2-section::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/vegetables.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}

/* Dairy section */
.category_3-section {
  background-color: var(--dairy-background);
}

.category_3-section::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/cheese.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}

/* Legume section */
.category_4-section {
  background-color: var(--legume-background);
}

.category_4-section::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/legumes.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}

/* seasoning section */
.category_5-section {
  background-color: var(--seasoning-background);
}

.category_5-section::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/olive-oil.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}

/* beverage section */
.category_6-section {
  background-color: var(--beverage-background);
}

.category_6-section::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/beverage.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}

/* alcohol section */
.category_7-section {
  background-color: var(--alcohol-background);
}

.category_7-section::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/wine.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}

/* hygiene section */
.category_8-section {
  background-color: var(--hygiene-background);
}

.category_8-section::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/soap.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}

/* supply section */
.category_9-section {
  background-color: var(--supplies-background);
}

.category_9-section::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/supplies.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}

/* cleaning section */
.category_10-section {
  background-color: var(--cleaning-background);
}

.category_10-section::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/cleaning.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}

/* other section */
.category_11-section {
  background-color: var(--other-background);
}

.category_11-section::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/grocery.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}

.toast-animated {
  animation-name: toastAnimation;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.loading-overlay{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  text-align: center;
  margin-top: 30px;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  max-height: 20rem;
  overflow-y: auto;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: var(--autocomplete-background);
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: var(--autocomplete-active-background);
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: var(--autocomplete-active-background) !important;
}

.graph-overlay {
  position: absolute;
  z-index: 99;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--plot-overlay-background);
  transition: background-color 1.5s ease;
}

.hidden {
  display: none;
}

.footer-container {
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: var(--element-background);
  min-width: 100%;
}

.bulletin-empty-div .icon {
  font-size: 6rem;
  cursor: pointer;
  opacity: .7;
  transition: opacity 1s ease;
}

.bulletin-div .icon:hover {
  opacity: 1;
}

.bulletin-not-empty {
  position: relative;
  height: 18rem;
  white-space: pre-line;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: var(--bulletin-background);
}

.bulletin-not-empty[data-class="default"] {
  background-color: var(--element-background);
}

.bulletin-not-empty[data-class="mountain"]::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/mountain.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.4;
}

.bulletin-not-empty[data-class="forest"]::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/forest.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.4;
}

.bulletin-not-empty[data-class="bamboo"]::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/bamboo.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.4;
}

.bulletin-not-empty[data-class="japan"]::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/japan.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.4;
}

.bulletin-not-empty[data-class="lake"]::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/lake.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.4;
}

.bulletin-not-empty[data-class="underwater"]::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/fish.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.4;
}

.bulletin-not-empty[data-class="city"]::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/city.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.4;
}

.bulletin-not-empty[data-class="technology"]::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/technology.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.4;
}

.bulletin-not-empty[data-class="desert"]::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/desert.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.4;
}

#bulletinContentDiv {
  position: absolute;
  height: 100%;
  overflow-y: auto;
}

.example-div {
  overflow-x: auto;
  background-color: var(--element-background);
}

#aboutTodoDiv {
  position: relative;
}

#aboutTodoDiv::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/checklist.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.2;
}

#aboutShopDiv {
  position:relative;
}

#aboutShopDiv::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/shoppinglist.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.2;
}

#developerInfoDiv {
  position: relative;
  background-color: var(--body-background-color);
}

#developerInfoDiv::before {
  content: "";
  box-sizing: border-box;
  background-image: url("https://a2note-ninja-assets.s3.eu-central-1.amazonaws.com/img/coding.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}

.achievement-card {
  background-color: var(--donetask-background);
  height: 15rem;
  overflow-y: auto;
}

.fulfilled-achievement {
  background-color: var(--element-background);
  border: medium solid var(--text-color);
}
