.git
__pycache__
a2note_ninja/__pycache__
virtual
product_list.json
common_products.json
achievement_list.json
a2note/dynamoDB_manage.py
a2note/dynamoDB_create_table.py
a2note/dynamoDB_load_achievements.py
a2note/plot_maker.py
translation_commands.txt
a2note/load_common_products.py
