{% extends 'a2note/layout.html' %}
{% load static %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
  a2note.admin
{% endblock %}

{% block body %}
  {% if user.is_staff %}
  {% csrf_token %}
  <script src="{% static 'a2note/admin_page.js' %}"></script>
  <button type="button" id="btnBackTop" class="btn btn-light btn-lg rounded-circle p-0 m-0" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Back to top' %}"><span class="material-icons-outlined">keyboard_arrow_up</span></button>
  <div class="container my-container p-3">
    <h1 class="intro-0">{% translate 'Administration panel' %}</h1>
    <h3 class="intro-1">{% translate "Authorized personnel only!" %}</h3>
    <hr>

    <table class="table table-dark">
      <tr>
        <th>id</th>
        <th>username</th>
        <th>active</th>
        <th>role</th>
        <th>manage</th>
      </tr>
      {% for u in user_list %}
      <tr {% if not u.is_active %} class='text-danger'{% endif %}>
        <td>{{u.id}}</td>
        <td>{{u.username}}</td>
        <td>
          <span class='material-icons-outlined'>
            {% if u.is_active %}check{% else %}block{% endif %}
          </span>
        </td>
        <td>
          <span class='material-icons-outlined'>
            {% if u.is_staff %}badge{% else %}person{% endif %}
          </span>
        </td>
        <td>
          {% if u.username != user.username%}
            {% if u.is_active %}
              <button class="btn btn-danger btnBlock" data-action="block_user" data-username="{{u.username}}"><span class='material-icons-outlined'>lock</span> Block</button>
            {% else %}
              <button class="btn btn-success btnBlock" data-action="activate_user" data-username="{{u.username}}"><span class='material-icons-outlined'>lock_open</span> Activate</button>
            {% endif %}
          {% else %}
          Current user
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>

  </div>
  {% endif %}

{% endblock %}
