{% extends 'a2note/layout.html' %}
{% load static %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
  a2note.ninja
{% endblock %}

{% block SEOTitle %}
  <meta name="title" content="a2note.ninja - {% translate 'Create your shopping lists and to-do lists.' %}" />
{% endblock %}

{% block description %}
  <meta name="description" content="{% translate 'Create your shopping lists or to-do lists and save them in the cloud. Share your lists with whomever you want.' %}" />
{% endblock %}

{% block body %}
<script src="{% static 'a2note/app.js' %}"></script>

  <div class="container my-container p-5">
    {% if user.is_authenticated %}
    <script src="{% static 'a2note/index.js' %}"></script>
    {% csrf_token %}

    <button type="button" id="btnBackTop" class="btn btn-light btn-lg rounded-circle p-0 m-0" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Back to top' %}"><span class="material-icons-outlined">keyboard_arrow_up</span></button>

    <!-- Modal for list deletion-->
    <div class="modal fade" id="modalDeleteList" tabindex="-1" aria-labelledby="modalDeleteListLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class="hidden" id="modalElementId"></div>
            <h3 class="modal-title" id="modalDeleteListLabel"><span class="material-icons-outlined">delete_forever</span> {% translate "List deletion" %}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h4><span class="material-icons-outlined">report_problem</span> {% translate "Warning"%}</h4>
            <p>{% translate "You are about to delete this list and all of its content." %}<br>
            {% translate "This list will do <a href='https://en.wikipedia.org/wiki/Seppuku' target='_blank' rel='noopener noreferrer'>seppuku</a> for the shame of failing you!" %}</p>
            <p><strong>{% translate "This action is irreversible, do you wish to continue?" %}</strong></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Nah...nevermind" %}</button>
            <button type="button" class="btn btn-danger" id="btnDeleteList">{% translate "Yes, go ahed!" %}</button>
          </div>
        </div>
      </div>
    </div>

    <h2 class="intro-0">{% translate 'Hi' %} {{ user.username }},</h2>
    <h2 class="intro-1">{% translate "it's good to see you again!" %}</h2>

    <h4 class="intro-2">{% translate "Here you can create new to-do lists and shopping lists and see the lists you've already created." %}</h4>

    <hr>

    <div class="row">
      <div class="col">
        <span class="material-icons-outlined d-inline" id="info-toggle">info</span>
      </div>
      <div class="w-100"></div>
      <div class="col hidden info-text">
        <p><strong>To-do list:</strong> {% translate 'To-do lists are a great way to put your commitments and important things pen to paper. That way you can see your progress.' %}</p>
        <p><strong>Shopping list:</strong> {% translate "With a shopping list it's easy to remember everything you have to buy. You can see progress as you put items in the cart and everything falls into its own category." %}</p>
      </div>
    </div>

    <div class="row m-1 p-1 d-flex">

      <div class="col-6">
          <div class="card newList-card rounded rounded" data-type="TODOLIST">
            <div class="card-body">
              <p class="card-title col-10 fs-5">To-do list <span class="material-icons-outlined">edit</span></p>
            </div>
          </div>
      </div>

      <div class="col-6">
          <div class="card newList-card rounded" data-type="SHOPLIST">
            <div class="card-body">
              <p class="card-title fs-5">Shopping list <span class="material-icons-outlined">edit</span></p>
            </div>
          </div>
      </div>

    </div>

    <hr>

    <h4>{% translate "Your lists" %} ( {{ total }} )</h4>

    <div class="row m-1 p-1">
      <div class="col-md-3 col-12">
        <span class="material-icons-outlined">filter_alt</span>
      </div>
      <div class="col-md-3 col-12">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="TODOLIST">
        <label class="form-check-label" for="inlineRadio1">To-do lists</label>
      </div>
      <div class="col-md-3 col-12">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="SHOPLIST">
        <label class="form-check-label" for="inlineRadio2">Shopping lists</label>
      </div>
      <div class="col-md-3 col-12">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="ALL" checked>
        <label class="form-check-label" for="inlineRadio3">{% translate 'All' %}</label>
      </div>
    </div>


    <div class="row thumbnail-div rounded d-flex">
      {% for list in lists %}
      <div class="col-lg-4 col-12 p-1">
        <div class="card list-thumbnail rounded shadow-sm" data-type="{{ list.element_type }}" data-id="{{ list.element_id }}">
          <h5 class="card-header">
            {% if list.element_type == 'SHOPLIST' %}
            <span class="material-icons-outlined">shopping_cart</span>
            {% else %}
            <span class="material-icons-outlined">checklist_rtl</span>
            {% endif %}
            {% if list.title %}
              {{ list.title }}
            {% else %}
              {{ list.element_type }}_{{ list.element_id }}
            {% endif %}
            <!-- Trigger delete modal -->
            <p class="card-text d-inline text-danger deleteTrigger float-end" style="cursor:pointer;"><span class="material-icons-outlined text-end" data-bs-toggle="modal" data-bs-target="#modalDeleteList">delete</span></p>
          </h5>
          <div class="card-body">
            <p class="card-text"><span class="material-icons-outlined">event</span> {{ list.creation_timestamp }}</p>
            <p class="card-text"><span class="material-icons-outlined">history</span> {{ list.last_modified }}</p>
            <p class="card-text">{% translate 'Items' %}: {{ list.length }}</p>
            <hr>
            <p class="card-text d-inline"><a class="text-reset text-decoration-none" href="{% url 'list_editor' list.element_id %}"><span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Edit list' %}">edit</span></a></p>
            <p class="card-text d-inline"><a class="text-reset text-decoration-none" href="{% url 'list_viewer' list.element_id %}"><span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'View list' %}">pageview</span></a></p>
          </div>
        </div>
      </div>

      <br>
      {% empty %}
      <p><span class="material-icons-outlined">sentiment_dissatisfied</span> {% translate "Oh no! It's all sad and empty here...go make some lists." %}</p>
      {% endfor %}
    </div>

    {% else %}
    <!-- User not authenticated -->
    <br>
    <h1 class="intro-0" align="center">{% translate 'Welcome to a<sub>2</sub>note.ninja!' %}</h1>
    <h3 class="intro-1" align="center">{% translate "a simple way to make lists" %}</h3>
    <br>
    <br>
    <div class="row">

      <div class="col-lg-6 col-12">
        <div class="row">
          <h3 class="intro-0">{% translate 'Without an account' %}</h3>
        </div>
        <div class="row intro-1">
          <div class="col mb-3">
            {% translate 'You can use a<sub>2</sub>note.ninja whithout the need to register.' %}
          </div>
          <div class="w-100"></div>
          <div class="col mb-3">
            {% translate 'Save up to <strong>1 to-do list</strong> and <strong>1 shopping list</strong>.' %}
          </div>
          <div class="w-100"></div>
          <div class="col mb-3">
            {% translate 'Everything is saved locally on your browser so you can modify and consult your lists any time you want.' %}
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="row">
          <h3 class="intro-0">{% translate 'With a free account' %}</h3>
        </div>
        <div class="row intro-2">
          <div class="col mb-3">
            {% translate 'Register a free account and unlock new ninja techniques!' %}
          </div>
          <div class="w-100"></div>
          <div class="col mb-3">
            {% translate 'Create multiple To-do lists and shopping lists.' %}
          </div>
          <div class="w-100"></div>
          <div class="col mb-3">
            {% translate 'Everything will be saved in the cloud so you can access it across multiple devices.' %}
          </div>
          <div class="w-100"></div>
          <div class="col mb-3">
            <strong>{% translate 'Also:' %}</strong>
          </div>
          <div class="w-100"></div>
          <div class="col mb-3">
            {% blocktranslate %}Share your <strong>To-do lists</strong> and <strong>shopping lists</strong> like a ninja!<br>
            You can share with everyone, even with someone who doesn't have an account on a<sub>2</sub>note.ninja<br>{% endblocktranslate %}
          </div>
          <div class="w-100"></div>
          <div class="col mb-3">
            {% translate "You have a bulletin board where you can write a personal note or something to remember." %}
          </div>
        </div>
      </div>

    </div>
    {% endif %}
  </div>

{% endblock %}
