{% extends 'a2note/layout.html' %}
{% load static %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
  a2note.ninja
{% endblock %}

{% block body %}
  <div class="container my-container p-5">
    <br>
    <h1 class="intro-0" align="center">{% translate 'Welcome to a<sub>2</sub>note.ninja!' %}</h1>
    <br>
    <br>
    <div class="row">

      <div class="col-lg-6 col-12">
        <div class="row">
          <h3 class="intro-0">{% translate 'Without an account' %}</h3>
        </div>
        <div class="row intro-1">
          <div class="col mb-3">
            {% translate 'You can use a<sub>2</sub>note.ninja whithout the need to register.' %}
          </div>
          <div class="w-100"></div>
          <div class="col mb-3">
            {% translate 'Save up to <strong>1 to-do list</strong> and <strong>1 shopping list</strong>.' %}
          </div>
          <div class="w-100"></div>
          <div class="col mb-3">
            {% translate 'Everything is saved locally on your browser so you can modify and consult your lists any time you want.' %}
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="row">
          <h3 class="intro-0">{% translate 'With a free account (coming soon)' %}</h3>
        </div>
        <div class="row intro-2">
          <div class="col mb-3">
            {% translate 'Register a free account and unlock new ninja techniques!' %}
          </div>
          <div class="w-100"></div>
          <div class="col mb-3">
            {% translate 'Create multiple To-do lists and shopping lists.' %}
          </div>
          <div class="w-100"></div>
          <div class="col mb-3">
            {% translate 'Everything will be saved in the cloud so you can access it across multiple devices.' %}
          </div>
          <div class="w-100"></div>
          <div class="col mb-3">
            <strong>{% translate 'Also:' %}</strong>
          </div>
          <div class="w-100"></div>
          <div class="col mb-3">
            {% blocktranslate %}Share your <strong>To-do lists</strong> and <strong>shopping lists</strong> like a ninja!<br>
            You can share with everyone, even with someone who doesn't have an account on a<sub>2</sub>note.ninja<br>{% endblocktranslate %}
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
