{% extends 'a2note/layout.html' %}
{% load static %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
  ninja login
{% endblock %}

{% block body %}
  <div class="container my-container p-5">
    <br>
    <h1 class="intro-0" align="center">{% translate 'a<sub>2</sub>note.ninja Login' %}</h1>
    <br>
    <br>
    <h4>{% translate 'Welcome back, fellow ninja. Please provide your credentials...' %}</h4>

    {% if form.errors %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% translate 'Your ninja-name and/or password are incorrect. Please try again...' %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}

    <form method="post" action="{% url 'login_view' %}">
      {% csrf_token %}
      <table>
        <tr>
          <td><i class="material-icons-outlined">account_circle</i> </td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td><i class="material-icons-outlined">lock</i> </td>
          <td>{{ form.password }}</td>
        </tr>
      </table>

      <input type="submit" value="Login" class="btn">
    </form>

    <p>{% translate "Don't have an account yet? No problem, just" %} <a href="{% url 'register_view' %}">{% translate 'register</a> for free.' %}</p>

  </div>
{% endblock %}
