{% extends 'a2note/layout.html' %}
{% load static %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
  welcome ninja!
{% endblock %}

{% block body %}
  <div class="container my-container p-5">
    <h1 class="intro-0">{% translate 'Your ninja account' %}</h1>
    <h4>{% translate 'In this page you can see all your information' %}</h4>
    <br>

    <h3>{% translate 'Account information' %}</h3>
    <table class="table table-dark">
      <tr>
        <th><span class="material-icons-outlined">account_circle</span> Username</th>
        <td>{{ user.username }}</td>
      </tr>
      <tr>
        <th><span class="material-icons-outlined">email</span> email</th>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <th><span class="material-icons-outlined">event_available</span> {% translate 'Registration' %}</th>
        <td>{{ user.date_joined }}</td>
      </tr>
    </table>

    <br>

    <h3>{% translate 'Your activity' %}</h3>
    <table class="table table-dark">
      <tr>
        <th><span class="material-icons-outlined">login</span> {% translate 'Last login' %}</th>
        <td>{{ user.last_login }}</td>
      </tr>
      <tr>
        <th><span class="material-icons-outlined">checklist_rtl</span> To-do list</th>
        <td> {{ todo_lists }} </td>
      </tr>
      <tr>
        <th><span class="material-icons-outlined">shopping_cart</span> Shopping list</th>
        <td> {{ shopping_lists }} </td>
      </tr>
    </table>

  </div>
{% endblock %}
