{% extends 'a2note/layout.html' %}
{% load static %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
  ninja dashboard
{% endblock %}

{% block SEOTitle %}
  <meta name="title" content="a2note.ninja - {% translate 'Your personal dashboard.' %}" />
{% endblock %}

{% block description %}
  <meta name="description" content="{% translate 'Here is your personal dashboard. You can see numbers and statistics about your activity on a2note.ninja.' %}" />
{% endblock %}


{% block body %}
  <div class="container my-container p-5">
    <h1 class="intro-0">{% translate 'Your personal dashboard' %}</h1>

    <h4>{% translate "Here you can see some numbers and some statistics about your lists." %}</h4>

    <hr>

    <h3>{% translate "Report" %} <span class="material-icons-outlined">summarize</span></h3>

    {% if total > 0 %}
    <table class="table table-dark">
      <tr>
        <th class="table-active fs-5"><span class="material-icons-outlined">checklist_rtl</span> {% translate 'Todolists created' %}</th>
        <th class="table-active fs-5">{{ todolists_total }}</th>
      </tr>
      <tr>
        <th><span class="material-icons-outlined">tag</span> {% translate 'Tasks in to-do lists' %}</th>
        <td>{{ total_tasks }}</td>
      </tr>
      <tr>
        <th><span class="material-icons-outlined">check</span> {% translate 'Tasks done' %}</th>
        <td>{{ tasks_done }}</td>
      </tr>
      <tr>
        <th><span class="material-icons-outlined">pending</span> {% translate 'Tasks to do' %}</th>
        <td>{{ tasks_todo }}</td>
      </tr>
      <tr>
        <th class="table-active fs-5"><span class="material-icons-outlined">shopping_cart</span> {% translate 'Shopping lists created' %}</th>
        <th class="table-active fs-5">{{ shoplists_total }}</th>
      </tr>
      <tr>
        <th><span class="material-icons-outlined">add_shopping_cart</span> {% translate 'Items in shopping lists' %}</th>
        <td>{{ total_items }}</td>
      </tr>
      <tr>
        <th class="table-active fs-5"><span class="material-icons-outlined">functions</span> {% translate 'Total' %}</th>
        <th class="table-active fs-5">{{ total }}</th>
      </tr>
    </table>
    {% else %}
    <p><span class="material-icons-outlined">sentiment_dissatisfied</span> {% translate "Nothing to report here..." %}</p>
    {% endif %}

    <hr>

    <h3>{% translate "Statistics" %} <span class="material-icons-outlined">bar_chart</span></h3>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {% if total > 0 %}
    <div class="row">
      {% if type_donut_plot %}
      <div class="col-lg-6 col-12 p-1">
        <h4>{% translate "Type of lists you make" %}</h4>
        <canvas class="position-relative" id="typeDonutPlot"></canvas>
        <script>

        function makeTypeDonutPlot() {
          let type_donut_plot = {{ type_donut_plot|safe }};

          let data = {
            labels: type_donut_plot["labels"],
            datasets: [{
              label: 'Tasks progress',
              backgroundColor: type_donut_plot["colors"],
              data: type_donut_plot["values"],
              hoverOffset: 4
            }],
          };

          let config = {
            type: 'doughnut',
            data,
            options: {
              cutout: "88%"
            }
          };

          let type_donut_plot_chart = new Chart(
            document.querySelector('#typeDonutPlot'),
            config
          );
        }

        setTimeout(() => {
          makeTypeDonutPlot();
        }, 150);


        </script>

      </div>
      {% endif %}

      {% if task_donut_plot %}
      <div class="col-lg-6 col-12 p-1">
        <h4>{% translate "Your overall progress with the tasks" %}</h4>
        <canvas class="position-relative" id="taskDonutPlot"></canvas>
        <script>

        function makeTaskDonutPlot() {
          let task_donut_plot = {{ task_donut_plot|safe }};

          let data = {
            labels: task_donut_plot["labels"],
            datasets: [{
              label: 'Tasks progress',
              backgroundColor: task_donut_plot["colors"],
              data: task_donut_plot["values"],
              hoverOffset: 4
            }],
          };

          let config = {
            type: 'doughnut',
            data,
            options: {
              cutout: "88%"
            }
          };

          let task_donut_plot_chart = new Chart(
            document.querySelector('#taskDonutPlot'),
            config
          );
        }

        setTimeout(() => {
          makeTaskDonutPlot();
        }, 350);

        </script>
      </div>
      {% endif %}

      {% if todo_weekday_plot  %}
      <div class="col-lg-6 col-12 p-1">
        <h4>{% translate "Your favourite days to make a to-do list" %}</h4>
        <canvas class="position-relative" id="todoPerWeekdayChart"></canvas>
          <script>

          function makeTodoWeekdayPlot() {
            let todo_weekday_plot = {{ todo_weekday_plot|safe }};

            let data = {
              labels: todo_weekday_plot["labels"],
              datasets: [{
                label: 'To-do lists',
                backgroundColor: todo_weekday_plot["colors"],
                borderColor: todo_weekday_plot["colors"],
                data: todo_weekday_plot["values"],
                barPercentage: 0.7,
              }],
            };

            let config = {
              type: 'bar',
              data,
              options: {
                plugins: {
                  legend: {
                    display: false
                  }
                }
              }
            };

            let todo_weekday_plot_chart = new Chart(
              document.querySelector('#todoPerWeekdayChart'),
              config
            );
          }

          setTimeout(() => {
            makeTodoWeekdayPlot();
          }, 550);

          </script>
      </div>
      {% endif %}

      {% if shop_weekday_plot %}
      <div class="col-lg-6 col-12 p-1">
        <h4>{% translate "Your favourite days to make a shopping list" %}</h4>
        <div class="position-relative">
          <canvas class="position-relative" id="shopPerWeekdayChart"></canvas>
            <script>

            function makeShopWeekdayPlot() {
              let shop_weekday_plot = {{ shop_weekday_plot|safe }};

              const data = {
                labels: shop_weekday_plot["labels"],
                datasets: [{
                  label: 'Shopping lists',
                  backgroundColor: shop_weekday_plot["colors"],
                  borderColor: shop_weekday_plot["colors"],
                  data: shop_weekday_plot["values"],
                  barPercentage: 0.7,
                }],

              };

              const config = {
                type: 'bar',
                data,
                options: {
                  plugins: {
                    legend: {
                      display: false
                    }
                  }
                }
              };

              let shop_weekday_plot_chart = new Chart(
                document.querySelector('#shopPerWeekdayChart'),
                config
              );
            }
            setTimeout(() => {
              makeShopWeekdayPlot();
            }, 750);

            </script>
        </div>
      </div>
      {% endif %}

    </div>
    {% else %}
    <p><span class="material-icons-outlined">not_interested</span> {% translate "You haven't created any list...yet" %}</p>
    {% endif %}

{% endblock %}
