{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index_view' %}">
      a<sub>2</sub>note. <img id="logo-dark" class="logo rounded-circle" alt="{% translate 'a2note.ninja logo. A stylized ninja face is shown, in wich only the eyes are visible.' %}" src="{% static 'a2note/ninja_logo.png' %}">
      <img id="logo-light" class="logo rounded-circle hidden" alt="{% translate 'a2note.ninja logo. A stylized ninja face is shown, in wich only the eyes are visible.' %}" src="{% static 'a2note/ninja_logo_light.png' %}">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if user.is_authenticated %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'index_view' %} active{% endif %}" aria-current="page" href="{% url 'index_view' %}">
            <span class="material-icons-outlined">home</span> {% translate 'My lists'%}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'dashboard_view' %} active{% endif %}" href="{% url 'dashboard_view' %}">
            <span class="material-icons-outlined">data_usage</span> {% translate 'My dashboard' %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'bulletin_view' %} active{% endif %}" href="{% url 'bulletin_view' %}">
            <span class="material-icons-outlined">assignment</span> {% translate 'My bulletin board' %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'about_us' %} active{% endif %}" href="{% url 'about_us' %}">
            <span class="material-icons-outlined">info</span> About
          </a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="material-icons-outlined">account_circle</span> {{ user.username }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'my_account_view' %}"><span class="material-icons-outlined">badge</span> {% translate 'My account' %}</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}"><span class="material-icons-outlined">logout</span> Logout</a></li>
            </ul>
          </li>
      {% else %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'index_view' %} active{% endif %}" aria-current="page" href="{% url 'index_view' %}">
            <span class="material-icons-outlined">home</span> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'todolist_view' %} active{% endif %}" href="{% url 'todolist_view' %}">
            <span class="material-icons-outlined">checklist_rtl</span> To-do list
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'shoplist_view' %} active{% endif %}" href="{% url 'shoplist_view' %}">
            <span class="material-icons-outlined">shopping_cart</span> Shopping list
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'about_us' %} active{% endif %}" href="{% url 'about_us' %}">
            <span class="material-icons-outlined">info</span> About
          </a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link{% if request.resolver_match.url_name == 'login_view' %} active{% endif %}" aria-current="page" href="{% url 'login_view' %}">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if request.resolver_match.url_name == 'register_view' %} active{% endif %}" aria-current="page" href="{% url 'register_view' %}">{% translate 'Register' %}</a>
          </li>
      {% endif %}
      </ul>

        <div id="darkModeSelector" aria-label="dark mode toggle" class="rounded-circle shadow-md">
          <span class="material-icons-outlined">light_mode</span>
        </div>
      </div>

    </div>
  </div>
</nav>
