{% extends 'a2note/layout.html' %}
{% load static %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
  password reset
{% endblock %}

{% block SEOTitle %}
  <meta name="title" content="a2note.ninja - {% translate 'Reset your account password.' %}" />
{% endblock %}

{% block description %}
  <meta name="description" content="{% translate 'If you forgot your password, reset it here.' %}" />
{% endblock %}


{% block body %}
  <script src="{% static 'a2note/reset_password.js' %}"></script>

  <div class="container my-container p-5">
    <br>
    <h1 class="intro-0" align="center">{% translate 'Password reset' %}</h1>
    <br>
    <br>
    <h4 class="intro-1">{% translate "Even a ninja is allowed to forget something...don't worry!" %}</h4>

    <form class="intro-2" id="formStep1" method="post" onsubmit="formStep1Submission(event)">
      {% csrf_token %}
      <table>
        <tr>
          <td colspan="2">{% translate "Enter the email address associated with your account." %}</td>
        <tr>
          <td><i class="material-symbols-outlined">email</i> </td>
          <td><input type="email" name="inpEmail" id="inpEmail" placeholder="Type your email..." required/></td>
        </tr>
      </table>

      <input type="submit" id="form1Btn" value="{% translate 'Confirm' %}" class="btn btn-light">
    </form>

    <p id="pEmailSent">
      {% translate "If the email is correct, you should receive an OTP." %} <br>
      {% translate "Please use the OTP in the form below to confirm your identity." %}
    </p>

    <div id="divForm2">
      <form method="post" onsubmit="formStep2Submission(event)">
        <table>
          <tr>
            <td colspan="2">{% translate "Set the new password for the account" %}</td>
          </tr>
          <tr>
            <td><i class="material-symbols-outlined">password</i></td>
            <td><input type="password" name="inpPsw1" id="inpPsw1" placeholder="{% translate 'Choose a new password...' %}" minlength="8" required/></td>
          </tr>
          <tr>
            <td><i class="material-symbols-outlined">password</i></td>
            <td><input type="password" name="inpPsw2" id="inpPsw2" placeholder="{% translate 'Repeat new password...' %}" minlength="8" required/></td>
          </tr>
          <tr>
            <td colspan="2">{% translate "Insert the OTP received via email" %}</td>
          </tr>
          <tr>
            <td><i class="material-symbols-outlined">key</i></td>
            <td><input type="number" name="inpOtp" id="inpOtp" placeholder="{% translate 'OTP received via email' %}" required/></td>
          </tr>
        </table>

        <input type="submit" id="form2Btn" value="{% translate 'Confirm' %}" class="btn btn-light">
      </form>
    </div>

  </div>
{% endblock %}
