{% extends 'a2note/layout.html' %}
{% load static %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
  ninja editor
{% endblock %}

{% block SEOTitle %}
  <meta name="title" content="a2note.ninja - {% translate 'Edit your shopping list.' %}" />
{% endblock %}

{% block description %}
  <meta name="description" content="{% translate 'Here you can edit this shopping list and save new changes.' %}" />
{% endblock %}


{% block body %}
  {% csrf_token %}

  <div id="main-container" class="container my-container p-4">
    <button type="button" id="btnBackTop" class="btn btn-light btn-lg rounded-circle p-0 m-0" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Back to top' %}"><span class="material-symbols-outlined">keyboard_arrow_up</span></button>

    {% if user.username == list.author %}
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="material-symbols-outlined">menu</span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalDeleteList" href="#"><span class="material-symbols-outlined">delete</span> {% translate "Delete list" %}</a></li>
        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalListSettings" href="#"><span class="material-symbols-outlined">settings</span> {% translate "Settings" %}</a></li>
        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalShareList" href="#"><span class="material-symbols-outlined">share</span> {% translate "Share" %}</a></li>
      </ul>
    </div>

    <!-- Modal for list deletion-->
    <div class="modal fade" id="modalDeleteList" tabindex="-1" aria-labelledby="modalDeleteListLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalDeleteListLabel"><span class="material-symbols-outlined">delete_forever</span> {% translate "List deletion" %}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h4><span class="material-symbols-outlined">report_problem</span> {% translate "Warning"%}</h4>
            <p>{% translate "You are about to delete this list and all of its content." %}<br>
            {% translate "This list will do <a href='https://en.wikipedia.org/wiki/Seppuku' target='_blank' rel='noopener noreferrer'>seppuku</a> for the shame of failing you!" %}</p>
            <p><strong>{% translate "This action is irreversible, do you wish to continue?" %}</strong></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="btnNevermind" data-bs-dismiss="modal">{% translate "Nah...nevermind" %}</button>
            <button type="button" class="btn btn-danger" id="btnDeleteList">{% translate "Yes, go ahed!" %}</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for list settings -->
    <div class="modal fade" id="modalListSettings" tabindex="-1" aria-labelledby="modalListSettingsLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalListSettingsLabel"><span class="material-symbols-outlined">build</span> {% translate "List settings" %}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h4><span class="material-symbols-outlined">policy</span> {% translate "Privacy"%}</h4>
            <p> {% translate "Your list privacy is currently: " %}
              <strong>{% if list.shared == 'True' %} {% translate 'Public' %} <span class="material-symbols-outlined">public</span></strong><br>
              {% translate 'Anyone with the link can view it.' %}
              {% else %}
              <strong>{% translate 'Private' %} <span class="material-symbols-outlined">lock</span></strong> <br>
              {% translate 'No one can see it even with the link.' %}
              {% endif %}
            </p>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="listPrivacySwitch" {% if list.shared == 'True' %}checked{% endif %}>
              <label class="form-check-label" for="listPrivacySwitch">{% translate "Public list" %}</label>
            </div>
            <hr>
            <h4><span class="material-symbols-outlined">edit</span> {% translate "Edit"%}</h4>
            <p>
              {% translate "Your list edit policy is: " %}
                {% if list.edit_enabled == 'True' %}
                <strong>{% translate 'Edit enabled' %} <span class="material-symbols-outlined">edit</span></strong><br>
                <span class="material-symbols-outlined">report_problem</span>
                {% translate 'Anyone with the link can edit the list, this includes adding and deleting items.' %}
                {% else %}
                <strong>{% translate 'Edit disabled' %} <span class="material-symbols-outlined">edit_off</span></strong> <br>
                {% translate 'You are the only one who can edit this list.' %}
                {% endif %}
                <br>
                {% translate "Only you can delete this list." %}
            </p>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="editEnableSwitch" {% if list.shared == 'False' %}disabled{% else %}{% if list.edit_enabled == 'True' %}checked{% endif %}{% endif %}>
              <label class="form-check-label" for="editEnableSwitch">{% translate "Enable editing" %}</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
            <button type="button" class="btn btn-light" id="btnSaveSettings" data-bs-dismiss="modal"><span class="material-symbols-outlined">save</span> {% translate "Save" %}</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for list sharing -->
    <div class="modal fade" id="modalShareList" tabindex="-1" aria-labelledby="modalShareListLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalShareListLabel"><span class="material-symbols-outlined">share</span> {% translate "List sharing" %}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% if list.shared == 'False' %}
            <p class="text-warning"><span class="material-symbols-outlined">report_problem</span> {% translate "Some functions are disabled because the list privacy is set to private. If you'd like to share the list please go to 'Settings' and make the list public." %}</p>
            {% endif %}
            <p>{% translate "List code" %}: {{ list.element_id }}</p>
            <button type="button" class="btn btn-light m-2" id="btnCopyClipboard" data-bs-dismiss="modal"><span class="material-symbols-outlined">content_paste</span> {% translate "Copy to clipboard" %}</button>
            <br>
            <a type="button" class="btn btn-light m-2 {% if list.shared == 'False' %} disabled {% endif %}" id="btnWhatsapp" href="" data-action="share/whatsapp/share" target="_blank"><span class="material-symbols-outlined">chat</span> Whatsapp </a>
            <br>
            <a type="button" class="btn btn-light m-2 {% if list.shared == 'False' %} disabled {% endif %}" id="btnTelegram" href="" target="_blank"><span class="material-symbols-outlined">send</span> Telegram </a>
            <br>
            <a class="btn btn-light m-2 {% if list.shared == 'False' %} disabled {% endif %}" id="btnEmail" href=""><span class="material-symbols-outlined">email</span> email</a>
          </div>
          <div class="modal-footer">
            <input type="text" class="hidden" id="urlText" value="" readonly />
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="row m-1 p-1 d-flex">
      <h3 class="intro-0 col">List EDITOR <span class="material-symbols-outlined">shopping_cart</span></h3>
      <div class="col-lg-3 col-4">
        <button class="btn btn-success hidden" id="btnSaveList" disabled><span class="material-symbols-outlined">save</span> {% translate "Save" %}</button>
      </div>
    </div>

    <p class="intro-1">
      {% if list.shared == "True" %}
      <span class="p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Anyone with the link can view the list.' %}">
        <span class="badge rounded-pill bg-primary">
          <span class="material-symbols-outlined">public</span>
          {% translate "Public" %}
        </span>
      </span>
        {% if list.edit_enabled == "True" %}
        <span class="p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Anyone with the link can edit the list.' %}">
          <span class="badge rounded-pill bg-success">
            <span class="material-symbols-outlined">edit</span>
            {% translate 'Edit enabled' %}
          </span>
        </span>
        {% else %}
        <span class="p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Only you can edit the list.' %}">
          <span class="badge rounded-pill bg-danger">
            <span class="material-symbols-outlined">edit_off</span>
            {% translate 'Edit disabled' %}
          </span>
        </span>
        {% endif %}
      {% else %}
      <span class="p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Only you can view the list.' %}">
          <span class="badge rounded-pill bg-secondary">
            <span class="material-symbols-outlined" >lock</span>
            {% translate "Private" %}
        </span>
      </span>
      {% endif %}
    </p>

    <!-- Modal for items rundown -->
    <div class="modal fade" id="modalRundown" tabindex="-1" aria-labelledby="modalRundownLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalRundownLabel"><span class="material-symbols-outlined">list_alt</span> {% translate "Items rundown" %} <span id="modalRundownTot"></span></h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for bar chart and statistics -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="modal fade" id="modalBarChart" tabindex="-1" aria-labelledby="modalBarChartLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalBarChartLabel"><span class="material-symbols-outlined">bar_chart</span> {% translate "Statistics" %} <span id="modalBarChartTot"></span></h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <canvas class="position-relative" id="shoplistBarChart"></canvas>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for automatic list generation -->
    <div class="modal fade" id="modalAutoList" tabindex="-1" aria-labelledby="modalAutoListLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalAutoListLabel"><span class="material-symbols-outlined">auto_awesome</span> {% translate "Shoplist generator" %} <span id="modalAutoListTot"></span></h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>{% translate "You can create a shopping list automatically by customizing your preferences." %}</p>
            <div class="row" id="modalAutoListRow">
              <div class="col p-1">{% translate "List lenght" %}</div>
              <div class="col p-1"><input type="number" id="modalAutoListLength" min="5" max="50" value="10"></div>
              <div class="w-100"></div>
            </div>
          </div>
          <div class="modal-footer">
            <p><strong><span class="material-symbols-outlined">report_problem</span> {% translate "If you proceed any existing items in the list will be deleted!" %}</strong></p>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
            <button type="button" class="btn btn-light" id="btnConfirmAutoList" data-bs-dismiss="modal">{% translate "Create" %}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-1 p-1">
      <div class="input-group">
        <span class=" col-lg-2 col-3 mb-3 p-1" id="titleDescription">{% translate 'Title' %}</span>
        <input type="text" class="col-lg-10 col-9 rounded-3 mb-3 p-1" id="inpListTitle" aria-describedby="titleDescription"  placeholder="{% translate 'List title...' %}" maxlength="30" autocomplete="off" value="{{ list.title|safe }}">
      </div>
    </div>

    <span class="hidden" id="elementID">{{ list.element_id }}</span>

    <div class="row">
      <div class="autocomplete w-100 mb-2 d-flex">
        <input type="text" id="itemText" class="col-9 col-lg-10 rounded-3 m-1 mb-3 p-1 d-inline" placeholder="{% translate 'Insert item...' %}" maxlength="50" autocomplete="off"/>
        <button type="button" id="btnAddItem" class="btn btn-light col-2 col-lg-1 m-1 mb-3 p-1 d-inline"><span class="material-symbols-outlined">plus_one</span></button>
      </div>
      <div class="w-100"></div>
      <div class="col-12">
        <label for="categorySelect" class="d-inline">{% translate 'Category' %}</label>
        <!-- Select containing product categories -->
        <select id="categorySelect" class="form-select form-select-sm d-inline" aria-label="View tasks">
          {% for category in categories %}
            <option value="{{ category.element_id }}" data-icon="{{ category.category_icon }}">{{ category.category_name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-1 col-3 text-center">
        <span>{% translate "Tools" %} </span>
      </div>
      <div class="col-1 text-center">
        <span class="material-symbols-outlined" id="btnShowRundown" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Rundown' %}">list_alt</span>
      </div>
      <div class="col-1 text-center">
        <span class="material-symbols-outlined" id="btnShowStats" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Stats' %}">bar_chart</span>
      </div>
      <div class="col-1 text-center">
        <span class="material-symbols-outlined" id="btnShowAutoList" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Shoplist generator' %}">auto_awesome</span>
      </div>
    </div>
  </div>

  <div class="container footer-container p-0 hidden">
    <!-- Footer with shopping list progress -->
    <div class="progress w-100 shadow-sm m-0">
      <div id="shopProgress" class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>


  <!-- Passing list's items to the javascript in a secure way -->
  {{ list.items|json_script:"items" }}
  <script>
    var items = JSON.parse(document.getElementById('items').textContent);
  </script>
  <script src="{% static 'a2note/shoplist_functions.js' %}"></script>
  <script src="{% static 'a2note/shoplist_editor.js' %}"></script>

{% endblock %}
