{% extends 'a2note/layout.html' %}
{% load static %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
  ninja editor
{% endblock %}

{% block body %}
  {% csrf_token %}

  <div id="main-container" class="container my-container p-5">

    {% if user.username == author %}

    <!-- Button trigger delete modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDeleteList">{% translate 'Delete' %}<span class="material-icons-outlined">delete</span></button>

    <!-- Modal -->
    <div class="modal fade" id="modalDeleteList" tabindex="-1" aria-labelledby="modalDeleteListLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalDeleteListLabel"><span class="material-icons-outlined">delete_forever</span> {% translate "List deletion" %}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h4><span class="material-icons-outlined">report_problem</span> {% translate "Warning"%}</h4>
            <p>{% translate "You are about to delete this list and all of its content." %}<br>
            {% translate "This list will do <a href='https://en.wikipedia.org/wiki/Seppuku' target='_blank' rel='noopener noreferrer'>seppuku</a> for the shame of failing you!" %}</p>
            <p><strong>{% translate "This action is irreversible, do you wish to continue?" %}</strong></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Nah...nevermind" %}</button>
            <button type="button" class="btn btn-danger" id="btnDeleteList">{% translate "Yes, go ahed!" %}</button>
          </div>
        </div>
      </div>
    </div>


    {% endif %}
    <h3 class="intro-1">Shopping list EDITOR</h3>

    {% if element_id %}
    <h4><span class="material-icons-outlined">shopping_cart</span> <span id="elementID">{{ element_id }}</span></h4>
    {% endif %}

    <div class="row">
      <div class="autocomplete w-100 mb-2 d-flex">
        <input type="text" id="itemText" class="col-9 col-lg-10 rounded-3 m-1 mb-3 p-1 d-inline" placeholder="{% translate 'Insert item...' %}" maxlength="50" autocomplete="off"/>
        <button type="button" id="btnAddItem" class="btn btn-light col-2 col-lg-1 m-1 mb-3 p-1 d-inline"><span class="material-icons-outlined">plus_one</span></button>
      </div>
      <div class="w-100"></div>
      <div class="col-12">
        <label for="categorySelect" class="d-inline">{% translate 'Category' %}</label>
        <select id="categorySelect" class="form-select form-select-sm d-inline" aria-label="View tasks">
          <option value="fruit"  data-icon="restaurant_menu">{% translate 'Fruit' %}</option>
          <option value="vegetable" data-icon="restaurant_menu">{% translate 'Vegetables' %}</option>
          <option value="dairy" data-icon="restaurant_menu">{% translate 'Dairy products' %}</option>
          <option value="legume" data-icon="restaurant_menu">{% translate 'Legumes' %}</option>
          <option value="seasoning" data-icon="lunch_dining">{% translate 'Seasoning' %}</option>
          <option value="beverage" data-icon="emoji_food_beverage">{% translate 'Beverages' %}</option>
          <option value="alcohol" data-icon="local_bar">{% translate 'Alcohol' %}</option>
          <option value="hygiene" data-icon="clean_hands">{% translate 'Hygiene' %}</option>
          <option value="supply" data-icon="kitchen">{% translate 'Supplies' %}</option>
          <option value="cleaning" data-icon="cleaning_services">{% translate 'Cleaning' %}</option>
          <option value="other" data-icon="inventory" selected>{% translate 'Other' %}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Passing list items to the javascript -->
  <script>
    var items = {{ items|safe }};
  </script>
  <script src="{% static 'a2note/shoplist_functions.js' %}"></script>
  <script src="{% static 'a2note/shoplist_editor.js' %}"></script>

{% endblock %}
