{% extends 'a2note/layout.html' %}
{% load static %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
  ninja shopping list
{% endblock %}

{% block body %}
  {% csrf_token %}

  <div id="main-container" class="container my-container p-5">

    <!-- Modal for items rundown -->
    <div class="modal fade" id="modalRundown" tabindex="-1" aria-labelledby="modalRundownLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalRundownLabel"><span class="material-icons-outlined">list_alt</span> {% translate "Items rundown" %} <span id="modalRundownTot"></span></h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for bar chart and statistics -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="modal fade" id="modalBarChart" tabindex="-1" aria-labelledby="modalBarChartLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalBarChartLabel"><span class="material-icons-outlined">bar_chart</span> {% translate "Statistics" %} <span id="modalBarChartTot"></span></h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <canvas class="position-relative" id="shoplistBarChart"></canvas>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    {% if user.is_authenticated %}
    <script>
      var is_authenticated = true;
    </script>
    {% else %}
    <script>
      var is_authenticated = false;
    </script>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {% translate 'You are not logged in, your shopping list is saved locally.' %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <script src="{% static 'a2note/shoplist_functions.js' %}"></script>
    <script src="{% static 'a2note/shoplist.js' %}"></script>

    <h3 class="intro-1">Shopping list</h3>

    {% if element_id %}
    <h4>{{ element_id }}</h4>
    {% endif %}

    <div class="row">
      <div class="autocomplete w-100 mb-2 d-flex">
        <input type="text" id="itemText" class="col-9 col-lg-10 rounded-3 m-1 mb-3 p-1 d-inline" placeholder="{% translate 'Insert item...' %}" maxlength="50" autocomplete="off"/>
        <button type="button" id="btnAddItem" class="btn btn-light col-2 col-lg-1 m-1 mb-3 p-1 d-inline"><span class="material-icons-outlined">plus_one</span></button>
      </div>
      <div class="w-100"></div>
      <div class="col-12">
        <label for="categorySelect" class="d-inline">{% translate 'Category' %}</label>
        <select id="categorySelect" class="form-select form-select-sm d-inline" aria-label="View tasks">
          <option value="fruit"  data-icon="restaurant_menu">{% translate 'Fruit' %}</option>
          <option value="vegetable" data-icon="restaurant_menu">{% translate 'Vegetables' %}</option>
          <option value="dairy" data-icon="restaurant_menu">{% translate 'Dairy products' %}</option>
          <option value="legume" data-icon="restaurant_menu">{% translate 'Legumes' %}</option>
          <option value="seasoning" data-icon="lunch_dining">{% translate 'Seasoning' %}</option>
          <option value="beverage" data-icon="emoji_food_beverage">{% translate 'Beverages' %}</option>
          <option value="alcohol" data-icon="local_bar">{% translate 'Alcohol' %}</option>
          <option value="hygiene" data-icon="clean_hands">{% translate 'Hygiene' %}</option>
          <option value="supply" data-icon="kitchen">{% translate 'Supplies' %}</option>
          <option value="cleaning" data-icon="cleaning_services">{% translate 'Cleaning' %}</option>
          <option value="other" data-icon="inventory" selected>{% translate 'Other' %}</option>
        </select>
      </div>
      <div class="w-100"></div>
      <div class="col-12 mt-2 mb-0">
        <span class="material-icons-outlined" id="btnShowRundown">list_alt</span>
        <span class="material-icons-outlined" id="btnShowStats">bar_chart</span>
      </div>
    </div>
  </div>

  <div class="container footer-container p-0 hidden">
    <!-- Footer with shopping list progress -->
    <div class="progress w-100 shadow-sm m-0">
      <div id="shopProgress" class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

{% endblock %}
