{% extends 'a2note/layout.html' %}
{% load static %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
  ninja editor
{% endblock %}

{% block body %}
  {% csrf_token %}

  <div id="main-container" class="container my-container p-5">
    <h3 class="intro-1 col"><span class="material-icons-outlined">shopping_cart</span> List VIEWER</h3>

    <div class="row m-1 p-1">
      <label for="inpListTitle" class="col-lg-1 col-2 d-inline">{% translate 'Title' %}</label>
      <input type="text" class="col-lg-11 col-10 rounded-3 mb-3 p-1 d-inline" maxlength="30" autocomplete="off" value="{{ title }}" readonly/>
    </div>

    <div class="row">
      <div class="col-12">
        <select id="categorySelect" class="form-select form-select-sm hidden" aria-label="View tasks">
          <option value="fruit"  data-icon="restaurant_menu">{% translate 'Fruit' %}</option>
          <option value="vegetable" data-icon="restaurant_menu">{% translate 'Vegetables' %}</option>
          <option value="dairy" data-icon="restaurant_menu">{% translate 'Dairy products' %}</option>
          <option value="legume" data-icon="restaurant_menu">{% translate 'Legumes' %}</option>
          <option value="seasoning" data-icon="lunch_dining">{% translate 'Seasoning' %}</option>
          <option value="beverage" data-icon="emoji_food_beverage">{% translate 'Beverages' %}</option>
          <option value="alcohol" data-icon="local_bar">{% translate 'Alcohol' %}</option>
          <option value="hygiene" data-icon="clean_hands">{% translate 'Hygiene' %}</option>
          <option value="supply" data-icon="kitchen">{% translate 'Supplies' %}</option>
          <option value="cleaning" data-icon="cleaning_services">{% translate 'Cleaning' %}</option>
          <option value="other" data-icon="inventory" selected>{% translate 'Other' %}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Passing list items to the javascript -->
  <script>
    var items = {{ items|safe }};
  </script>
  <script src="{% static 'a2note/shoplist_functions.js' %}"></script>
  <script src="{% static 'a2note/shoplist_viewer.js' %}"></script>

{% endblock %}
