{% extends 'a2note/layout.html' %}
{% load static %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
  ninja viewer
{% endblock %}

{% block body %}
  {% csrf_token %}

  <div class="container my-container p-5">
    <button type="button" id="btnBackTop" class="btn btn-light btn-lg rounded-circle p-0 m-0" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Back to top' %}"><span class="material-icons-outlined">keyboard_arrow_up</span></button>

    <h3 class="intro-1 col"><span class="material-icons-outlined">checklist_rtl</span> List VIEWER</h3>

    <p class="intro-1">
      {% if shared == "True" %}
        <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Public' %}">public</span>
        {% if edit_enabled == "True" %}
          <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Edit enabled' %}">edit</span>
        {% else %}
          <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Edit disabled' %}">edit_off</span>
        {% endif %}
      {% else %}
        <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Private' %}">lock</span>
      {% endif %}
    </p>

    <div class="row m-1 p-1">
      <div class="input-group">
        <span class=" col-lg-2 col-3 mb-3 p-1" id="titleDescription">{% translate 'Title' %}</span>
        <input type="text" class="col-lg-10 col-9 rounded-3 mb-3 p-1" aria-describedby="titleDescription"  placeholder="{% translate 'List title...' %}" maxlength="30" autocomplete="off" value="{{ title }}" readonly>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <label for="taskViewSelect" class="d-inline">{% translate 'Filter tasks' %}</label>
        <select id="taskViewSelect" class="form-select form-select-sm d-inline" aria-label="View tasks">
          <option value="All" selected>{% translate 'All' %}</option>
          <option value="ToDo">{% translate 'To-do' %}</option>
          <option value="Done">{% translate 'Completed' %}</option>
        </select>
      </div>

      <div id="statDiv" class="hidden w-100 m-1 mb-2 p-1">
        <div class="row">
          <div class="col text-center">
            <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Total' %}">rule</span> <span id="statTotal">0</span>
          </div>
          <div class="col text-center">
            <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Pending' %}">pending</span> <span id="statTodo">0</span>
          </div>
          <div class="col text-center">
            <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Done' %}">task_alt</span> <span id="statDone">0</span>
          </div>
        </div>
      </div>
    </div>

    <div id="taskList" class="row"></div>

    <!-- Passing list items to the javascript -->
    <script>
      var tasks = {{ items|safe }};
    </script>
    <script src="{% static 'a2note/todolist_functions.js' %}"></script>
    <script src="{% static 'a2note/todolist_viewer.js' %}"></script>

  </div>

  <div class="container footer-container p-0 hidden">
    <!-- Footer with shopping list progress -->
    <div class="progress w-100 shadow-sm m-0">
      <div id="taskProgress" class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

{% endblock %}
