{% extends 'a2note/layout.html' %}
{% load static %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
  ninja to-do list
{% endblock %}

{% block SEOTitle %}
  <meta name="title" content="a2note.ninja - {% translate 'Edit the to-do list.' %}" />
{% endblock %}

{% block description %}
  <meta name="description" content="{% translate 'Here you can edit this to-do list and save new changes.' %}" />
{% endblock %}

{% block body %}

  <div class="container my-container p-5">

    {% if user.is_authenticated %}
    <script>
      var is_authenticated = true;
    </script>
    {% else %}
    <script>
      var is_authenticated = false;
    </script>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {% translate 'You are not logged in, your to-do list is saved locally.' %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <script src="{% static 'a2note/todolist_functions.js' %}"></script>
    <script src="{% static 'a2note/todolist.js' %}"></script>

    <h3 class="intro-1">To-do list</h3>
    {% if element_id %}
      {{ element_id }}
    {% endif %}

    <div class="row">
      <input type="text" id="taskText" class="d-inline col-9 col-lg-10 rounded-3 m-1 mb-3 p-1" placeholder="{% translate 'Insert task...' %}"/>
      <button type="button" id="btnAddTask" class="d-inline btn btn-light col-2 col-lg-1 m-1 mb-3 p-1"><span class="material-symbols-outlined">plus_one</span></button>
      <div class="w-100"></div>
      <div class="col-12">
        <label for="taskViewSelect" class="d-inline">{% translate 'Filter tasks' %}</label>
        <select id="taskViewSelect" class="form-select form-select-sm d-inline" aria-label="View tasks">
          <option value="All" selected>{% translate 'All' %}</option>
          <option value="ToDo">{% translate 'To-do' %}</option>
          <option value="Done">{% translate 'Completed' %}</option>
        </select>
      </div>

      <div id="statDiv" class="hidden w-100 m-1 mb-2 p-1">
        <div class="row">
          <div class="col text-center">
            <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Total' %}">rule</span> <span id="statTotal">0</span>
          </div>
          <div class="col text-center">
            <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Pending' %}">pending</span> <span id="statTodo">0</span>
          </div>
          <div class="col text-center">
            <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Done' %}">task_alt</span> <span id="statDone">0</span>
          </div>
        </div>
      </div>

    </div>

    <div id="taskList" class="row"></div>

  </div>

  <div class="container footer-container p-0 hidden">
    <!-- Footer with shopping list progress -->
    <div class="progress w-100 shadow-sm m-0">
      <div id="taskProgress" class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

{% endblock %}
