{% extends 'a2note/layout.html' %}
{% load static %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
  ninja to-do list
{% endblock %}

{% block body %}
  {% csrf_token %}

  <div class="container my-container p-5">
    {% if user.username == author %}
    <!-- Button trigger delete modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDeleteList">{% translate 'Delete' %}<span class="material-icons-outlined">delete</span></button>

    <!-- Modal -->
    <div class="modal fade" id="modalDeleteList" tabindex="-1" aria-labelledby="modalDeleteListLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalDeleteListLabel"><span class="material-icons-outlined">delete_forever</span> {% translate "List deletion" %}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h4><span class="material-icons-outlined">report_problem</span> {% translate "Warning"%}</h4>
            <p>{% translate "You are about to delete this list and all of its content." %}<br>
            {% translate "This list will do <a href='https://en.wikipedia.org/wiki/Seppuku' target='_blank' rel='noopener noreferrer'>seppuku</a> for the shame of failing you!" %}</p>
            <p><strong>{% translate "This action is irreversible, do you wish to continue?" %}</strong></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Nah...nevermind" %}</button>
            <button type="button" class="btn btn-danger" id="btnDeleteList">{% translate "Yes, go ahed!" %}</button>
          </div>
        </div>
      </div>
    </div>

    {% endif %}

    <div class="row m-1 p-1">
      <div class="col-9">
        <h3 class="intro-1"><span class="material-icons-outlined">checklist_rtl</span> To-do list EDITOR</h3>
      </div>
      <div class="col-3">
        <button class="btn btn-success hidden" id="btnSaveList" disabled><span class="material-icons-outlined">save</span> {% translate "Save changes" %}</button>
      </div>
    </div>

    {% if element_id %}
    <span id="elementID" class="hidden">{{ element_id }}</span>
    {% endif %}

    <div class="row">
      <input type="text" id="taskText" class="d-inline col-9 col-lg-10 rounded-3 m-1 mb-3 p-1" placeholder="{% translate 'Insert task...' %}"/>
      <button type="button" id="btnAddTask" class="d-inline btn btn-light col-2 col-lg-1 m-1 mb-3 p-1"><span class="material-icons-outlined">plus_one</span></button>
      <div class="w-100"></div>
      <div class="col-12">
        <label for="taskViewSelect" class="d-inline">{% translate 'Filter tasks' %}</label>
        <select id="taskViewSelect" class="form-select form-select-sm d-inline" aria-label="View tasks">
          <option value="All" selected>{% translate 'All' %}</option>
          <option value="ToDo">{% translate 'To-do' %}</option>
          <option value="Done">{% translate 'Completed' %}</option>
        </select>
      </div>

      <div id="statDiv" class="hidden w-100 m-1 mb-2 p-1">
        <div class="row">
          <div class="col text-center">
            <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Total' %}">rule</span> <span id="statTotal">0</span>
          </div>
          <div class="col text-center">
            <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Pending' %}">pending</span> <span id="statTodo">0</span>
          </div>
          <div class="col text-center">
            <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Done' %}">task_alt</span> <span id="statDone">0</span>
          </div>
        </div>
        <div class="progress w-100 rounded-pill">
          <div id="taskProgress" class="progress-bar progress-bar-primary rounded-pill" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

    </div>

    <!-- Passing list items to the javascript -->
    <script>
      var tasks = {{ items|safe }};
    </script>
    <script src="{% static 'a2note/todolist_functions.js' %}"></script>
    <script src="{% static 'a2note/todolist_editor.js' %}"></script>

    <div id="taskList" class="row"></div>

  </div>

{% endblock %}
