{% extends 'a2note/layout.html' %}
{% load static %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
  ninja editor
{% endblock %}

{% block description %}
  <meta name="description" content="{% translate 'Here you can edit this to-do list and save new changes.' %}" />
{% endblock %}

{% block body %}
  {% csrf_token %}

  <div class="container my-container p-5">
    <button type="button" id="btnBackTop" class="btn btn-light btn-lg rounded-circle p-0 m-0" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Back to top' %}"><span class="material-icons-outlined">keyboard_arrow_up</span></button>

    <div class="row m-1 p-1 d-flex">
      <h3 class="intro-1 col"><span class="material-icons-outlined">checklist_rtl</span> List EDITOR</h3>
      <div class="col-lg-3 col-4">
        <button class="btn btn-success hidden" id="btnSaveList" disabled><span class="material-icons-outlined">save</span> {% translate "Save" %}</button>
      </div>
    </div>

    <p class="intro-1">
      {% if shared == "True" %}
        <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Public' %}">public</span>
        {% if edit_enabled == "True" %}
          <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Edit enabled' %}">edit</span>
        {% else %}
          <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Edit disabled' %}">edit_off</span>
        {% endif %}
      {% else %}
        <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Private' %}">lock</span>
      {% endif %}
    </p>

    {% if user.username == author %}
    <div class="row">
      <table class="table align-middle col">
        <tr>
          <th class="text-center">
            <!-- Button trigger delete modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDeleteList">{% translate 'Delete' %}<span class="material-icons-outlined">delete</span></button>
          </th>
          <th class="text-center">
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modalListSettings">{% translate 'Settings' %}<span class="material-icons-outlined">settings</span></button>
          </th>
          <th class="text-center">
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modalShareList">{% translate 'Share' %}<span class="material-icons-outlined">share</span></button>
          </th>
        </tr>
      </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalDeleteList" tabindex="-1" aria-labelledby="modalDeleteListLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalDeleteListLabel"><span class="material-icons-outlined">delete_forever</span> {% translate "List deletion" %}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h4><span class="material-icons-outlined">report_problem</span> {% translate "Warning"%}</h4>
            <p>{% translate "You are about to delete this list and all of its content." %}<br>
            {% translate "This list will do <a href='https://en.wikipedia.org/wiki/Seppuku' target='_blank' rel='noopener noreferrer'>seppuku</a> for the shame of failing you!" %}</p>
            <p><strong>{% translate "This action is irreversible, do you wish to continue?" %}</strong></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Nah...nevermind" %}</button>
            <button type="button" class="btn btn-danger" id="btnDeleteList">{% translate "Yes, go ahed!" %}</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for list settings -->
    <div class="modal fade" id="modalListSettings" tabindex="-1" aria-labelledby="modalListSettingsLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalListSettingsLabel"><span class="material-icons-outlined">build</span> {% translate "List settings" %}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h4><span class="material-icons-outlined">policy</span> {% translate "Privacy"%}</h4>
            <p> {% translate "Your list privacy is currently: " %}
              <strong>{% if shared == 'True' %} {% translate 'Public' %} <span class="material-icons-outlined">public</span></strong><br>
              {% translate 'Anyone with the link can view it.' %}
              {% else %}
              <strong>{% translate 'Private' %} <span class="material-icons-outlined">lock</span></strong> <br>
              {% translate 'No one can see it even with the link.' %}
              {% endif %}
            </p>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="listPrivacySwitch" {% if shared == 'True' %}checked{% endif %}>
              <label class="form-check-label" for="listPrivacySwitch">{% translate "Public list" %}</label>
            </div>
            <hr>
            <h4><span class="material-icons-outlined">edit</span> {% translate "Edit"%}</h4>
            <p>
              {% translate "Your list edit policy is: " %}
                {% if edit_enabled == 'True' %}
                <strong>{% translate 'Edit enabled' %} <span class="material-icons-outlined">edit</span></strong><br>
                <span class="material-icons-outlined">report_problem</span>
                {% translate 'Anyone with the link can edit the list, this includes adding and deleting items.' %}
                {% else %}
                <strong>{% translate 'Edit disabled' %} <span class="material-icons-outlined">edit_off</span></strong> <br>
                {% translate 'You are the only one who can edit this list.' %}
                {% endif %}
                <br>
                {% translate "Only you can delete this list." %}
            </p>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="editEnableSwitch" {% if shared == 'False' %}disabled{% else %}{% if edit_enabled == 'True' %}checked{% endif %}{% endif %}>
              <label class="form-check-label" for="editEnableSwitch">{% translate "Enable editing" %}</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
            <button type="button" class="btn btn-light" id="btnSaveSettings" data-bs-dismiss="modal"><span class="material-icons-outlined">save</span> {% translate "Save" %}</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for list sharing -->
    <div class="modal fade" id="modalShareList" tabindex="-1" aria-labelledby="modalShareListLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalShareListLabel"><span class="material-icons-outlined">share</span> {% translate "List sharing" %}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <br>
            <button type="button" class="btn btn-light m-2" id="btnCopyClipboard" data-bs-dismiss="modal"><span class="material-icons-outlined">content_paste</span> {% translate "Copy to clipboard" %}</button>
            <br>
            <a type="button" class="btn btn-light m-2 {% if shared == 'False' %} disabled {% endif %}" id="btnWhatsapp" href="" data-action="share/whatsapp/share" target="_blank"><span class="material-icons-outlined">chat</span> Whatsapp </a>
            <br>
            <a type="button" class="btn btn-light m-2 {% if shared == 'False' %} disabled {% endif %}" id="btnTelegram" href="" target="_blank"><span class="material-icons-outlined">send</span> Telegram </a>
            <br>
            <a class="btn btn-light m-2 {% if shared == 'False' %} disabled {% endif %}" id="btnEmail" href=""><span class="material-icons-outlined">email</span> email</a>
            {% if shared == 'False' %}
            <p>{% translate "Some functions are disabled because the list privacy is set to private. If you'd like to share the list please go to 'Settings' and make the list public." %}</p>
            {% endif %}
          </div>
          <div class="modal-footer">
            <input type="text" class="hidden" id="urlText" value="" readonly />
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="row m-1 p-1">
      <div class="input-group">
        <span class=" col-lg-2 col-3 mb-3 p-1" id="titleDescription">{% translate 'Title' %}</span>
        <input type="text" class="col-lg-10 col-9 rounded-3 mb-3 p-1" id="inpListTitle" aria-describedby="titleDescription"  placeholder="{% translate 'List title...' %}" maxlength="30" autocomplete="off" value="{{ title }}">
      </div>
    </div>

    {% if element_id %}
    <span id="elementID" class="hidden">{{ element_id }}</span>
    {% endif %}

    <div class="row">
      <input type="text" id="taskText" class="d-inline col-9 col-lg-10 rounded-3 m-1 mb-3 p-1" placeholder="{% translate 'Insert task...' %}"/>
      <button type="button" id="btnAddTask" class="d-inline btn btn-light col-2 col-lg-1 m-1 mb-3 p-1"><span class="material-icons-outlined">plus_one</span></button>
      <div class="w-100"></div>
      <div class="col-12">
        <label for="taskViewSelect" class="d-inline">{% translate 'Filter tasks' %}</label>
        <select id="taskViewSelect" class="form-select form-select-sm d-inline" aria-label="View tasks">
          <option value="All" selected>{% translate 'All' %}</option>
          <option value="ToDo">{% translate 'To-do' %}</option>
          <option value="Done">{% translate 'Completed' %}</option>
        </select>
      </div>

      <div id="statDiv" class="hidden w-100 m-1 mb-2 p-1">
        <div class="row">
          <div class="col text-center">
            <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Total' %}">rule</span> <span id="statTotal">0</span>
          </div>
          <div class="col text-center">
            <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Pending' %}">pending</span> <span id="statTodo">0</span>
          </div>
          <div class="col text-center">
            <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Done' %}">task_alt</span> <span id="statDone">0</span>
          </div>
        </div>
        <!-- <div class="progress w-100 rounded-pill shadow-sm">
          <div id="taskProgress" class="progress-bar progress-bar-primary rounded-pill" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div> -->
      </div>
    </div>

    <div id="taskList" class="row"></div>

    <!-- Passing list items to the javascript -->
    <script>
      var tasks = {{ items|safe }};
    </script>
    <script src="{% static 'a2note/todolist_functions.js' %}"></script>
    <script src="{% static 'a2note/todolist_editor.js' %}"></script>

  </div>

  <div class="container footer-container p-0 hidden">
    <!-- Footer with shopping list progress -->
    <div class="progress w-100 shadow-sm m-0">
      <div id="taskProgress" class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

{% endblock %}
